backdoor/pre_trained/
backdoor/poisoned_files/
backdoor/__pycache__/
manipulation/pre_trained/
manipulation/__pycache__/
manipulation/poisoned_graphs/
node_injection/pre_trained/
node_injection/__pycache__/
node_injection/poisoned_graphs/